
.home__container {
 display: grid;
 grid-template-columns: 1fr 1fr;
  justify-self: center;
 align-items: center;
 margin: 0 auto;
 height: 90vh;
 background-color: rgb(165, 190, 0); 
 z-index: 1; 
 width: 100%;
 max-width: 1300px;
 padding: 0 50px; 
} 

.home__container h1 {
  font-size: 2.5rem;
  background: black; 
  color: black;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent; 
} 

.home__container h2 {
  font-size: 2rem;
  background: #DE541E; 
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent; 
} 

.home__container p {
margin-top: 1rem;
font-size: 1rem;
font-weight: 700;
 color: white;
}

.home__btn {
  margin-top: 2rem;
  padding: 14px 32px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #679436;
  color: white;
  cursor: pointer;
  position: relative;
  transition: all 0.35s ease; 
  outline: none;
} 

.home__btn a {
  position: relative;
  z-index: 2;
  color: black;
  text-decoration: none;
}

.home__btn:after {
  position: absolute; 
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: white;
  transition: all 0.35s ease; 
  border-radius: 4px;
    }
    
.home__btn:hover {
 color: white;
} 

.home__btn:hover:after {
 width: 100%;
}

.home__img--container {
  text-align: center;
} 

#home__img {
  width: 80%;
  height: 80%;
}
