{% extends "template.html" %}
{% block title %}Display{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/display.css') }}">
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul>
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class="zip-container">
  <h1>Download your zip file here</h1>
  <a href="{{ url_for('download_zip', filename=filename) }}" class="zip-btn">Download zip</a>
</div>
{% endblock %}
