{% extends "template.html" %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
{% endblock %}


{% block content %}

  <h1> Upload your Video (and Audio) Files </h1>
  <br>
  <h2>Max File Size: 1 MB</h2>

<form method="POST" action="{{ url_for('upload') }}" enctype="multipart/form-data">
    <div id="form_div">

        <div id="upload_div">
            <p>Acceptable VIDEO FORMATS: .mp4, .mov, .webm, .mkv</p>
            <input type="file" name="video_upload_file" accept=".mp4,.mov,.webm,.mkv" placeholder="Upload video file">
          
            <div class="audio-box">
                <label class="audio-checkbox">
                    <input type="checkbox" id="include_audio" name="include_audio">
                    Includes Audio File
                </label>

                <div class="audio-input">
                    <p>Acceptable AUDIO FORMATS: .mp3, .wav, .m4a</p>
                    <input type="file" name="audio_upload_file" accept=".mp3,.wav,.m4a">
                </div>
            </div>

            <div class="submit-container">
                <button type="submit" class="submit-btn">
                    UPLOAD VIDEO
                </button>
            </div>
        </div> 

        <div id="args_div">
            <h2 style="color: white;">Select formatting/ffmpeg arguments</h2>
            
            <div class="option-box">
                <div class="option-text">
                    <h4>Enable hardware encoding: fast, but larger file</h4>
                    <h4>Leave unchecked for CPU encoding: slower, but smaller file</h4>
                    <h6>PLEASE NOTE: Small (less than 50MB) video files could actually become BIGGER with Hardware Encoding</h6>
                </div>
                <div class="option-checkbox">
                    <input type="checkbox" name="hardware_encode" id="hardware_encode">
                    <label for="hardware_encode">ENABLE</label>
                </div>
            </div>
            
            <h3 style="color: white;">Video Output Format</h3>
            <div class="option-box radio-box">
                <label class="radio-option">
                    <input type="radio" name="output_format" value="mp4" checked>
                    <span class="radio-label">MP4</span>
                </label>
                <label class="radio-option">
                    <input type="radio" name="output_format" value="mov">
                    <span class="radio-label">MOV</span>
                </label>
                <label class="radio-option">
                    <input type="radio" name="output_format" value="webm">
                    <span class="radio-label">WebM</span>
                </label>
                <label class="radio-option">
                    <input type="radio" name="output_format" value="mkv">
                    <span class="radio-label">MKV</span>
                </label>
            </div>
        </div> 

    </div> 
</form>

{% endblock %}
